<div class="auth-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>

    <input type="email" placeholder="example@yourdomain.com" formControlName="email">
    <input type="password" placeholder="********" formControlName="password">

    <div class="error" *ngIf="emailFormat">Invalid email format</div>
    <div class="error" *ngIf="passwordInvalid">Password is a required field</div>

    <ng-content select=".error"></ng-content>

    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>

    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>
  </form>
</div>
